{% extends 'base.html' %}

{% block body_block %}

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <table class="table text-center table-hover table-striped table-lg table-border mt-5 border">
            <tr>
                <th class="display-6">Task</th>
                <th class="display-6">Status</th>
                <th class="display-6">Date</th>
                <th class="display-6">Action</th>
            </tr>
            {% for todo in todos %}
            <tr>
                <td>{{todo.task_name}}</td>
                <td>{{todo.status}}</td>
                <td>{{todo.created_date}}</td>
                <td>
                    <a href="{% url 'todo-detail' todo.id %}" class="btn btn-outline-warning btn-sm "
                        style="border-radius: 0;">View</a>
                    <a href="{% url 'todo-delete' todo.id %}" class="btn btn-outline-danger btn-sm"
                        style="border-radius: 0;">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="col-2"></div>
</div>

{% endblock %}